*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/*CODIGO INTRO LOGO*/
/*CODIGO INTRO LOGO*/
/*CODIGO INTRO LOGO*/
/*CODIGO INTRO LOGO*/
/*CODIGO INTRO LOGO*/

.centrar1 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 6600ms !important;
    background-image: url(../images/introLogo/fondo-logo.png);
    z-index: 2 !important;
}

.cajaIntro {
    width: 350px;
    height: 170px;
    position: absolute;
}

.puntero {
    position: absolute;
    width: 350px;
    z-index: 1;
    animation-duration: 1s !important;
}

.my {
    position: absolute;
    width: 350px;
    z-index: 2;
    animation-duration: 1s !important;
}

.mouse {
    position: absolute;
    width: 350px;
    z-index: 3;
    animation-duration: 1s !important;
}

.michelyazo {
    position: absolute;
    width: 350px;
    z-index: 4;
}

.mediaproducer {
    position: absolute;
    width: 350px;
    z-index: 5;
}



/* INICIO DEL CSS HOME*/
/* INICIO DEL CSS HOME*/
/* INICIO DEL CSS HOME*/
/* INICIO DEL CSS HOME*/
/* INICIO DEL CSS HOME*/



/* CSS COL-3 MENU*/
.logo {
    width: 100%;
    padding-top: 25px;
}

.posicion {
    position: fixed;
    z-index: 1 !important;
    background-color: #E8F2F7;
}

.colormenu {
    height: 100vh;
    background-color: #E8F2F7
}

.menu {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    font-size: 2rem;
    display: flex;
    justify-content: start;
    font-weight: bold;
    color: black;
}

.redes {
    text-decoration: none;
    width: 20%;
    padding-right: 35px;
    padding-top: 35px;
}

.lincencia {
    width: 25%;
    padding-top: 45px;

}

.licenciacen {
    display: flex;
    justify-content: center;
}

.politicas {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 12px;
    text-align: center;
}

.cc {
    padding-top: 45px;
}

@media screen and (min-width: 20px) and (max-width:768px) {
    .posicion {
        position: inherit;
        height: 45px;
    }

    .navbar-collapse {
        background-color: #E8F2F7;
        padding: 45px;
        display: flex;
        justify-content: center;
    }

    .cc {
        padding-top: 0px;
    }

    .redes {
        width: 20%;
        padding-right: 10px;
    }
}


/* CSS COL-9 HEADER*/

.cajacontenido {
    background-image: url(../images/fondo-logo.png);
}

.cajaeslogan {
    display: flex;
    align-items: center;
    justify-content: center;
}

.eslogan {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.5rem;
    font-weight: bold;
    padding-left: 25px;
    text-align: center;
}

.fotomiche {
    width: 100%;
}

@media screen and (min-width: 20px) and (max-width:768px) {
    .eslogan {
        font-size: 2.2rem;
    }
    .cajaheader {
        padding-top: 45px;
    }
    .fotomiche {
        width: 120%;
    }

}




/* CSS COL-9 FILOSOFIAS*/

.filosofia {
    background-color: #A2629D;
}

.filosofia2 {
    padding-bottom: 45px;
}

.iconosfilo {
    width: 100%;
    padding: 15px 55px 0px 55px;
}

.titulofilo {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 3rem;
    padding: 25px
}

.filosofias {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.descripcionfilo {
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.centrar {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 20px) and (max-width:768px) {
    .iconofilocal {
        width: 220px;
    }

    .filosofias {
        font-size: 1.4rem;
    }
    .titulofilo {
        font-size: 1.8rem;
        padding: 10px;
    }
    .descripcionfilo {
        display: flex;
        text-align: center;
    }
}

/* CSS COL-9 SERVICIOS*/

.quehacemos {
    background-color: white;
    padding: 45px;
}

.tituloservicios {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 45px;

}

.servicios {
    width: 100%;
}

/* CSS COL-9 SERVICIOS*/
/* CSS COL-9 SERVICIOS*/
/* CSS COL-9 SERVICIOS*/



/* CSS COL-9 FOOTER*/

.footer {
    background-color: #6062AA;
    padding: 25px;
}

.iconosfooter {
    width: 8%;
}

.lista {
    list-style: none;
    padding-top: 15px;

}

.contacto {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.8rem;
    font-weight: bold;
    color: white;
    padding-top: 45px;
    padding-left: 45px;
}

.telefono {
    display: flex;
    align-items: center;
}

.correo {
    width: 8%;
}

.datacontacto {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.3rem;
}

.botonfooter {
    background-color: #8BBCD9;
    height: 45px;
    width: 120px;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.alineacion {
    display: flex;
    justify-content: end;
}

.colorform {
    border: 1px white solid;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    background: none;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.formulario {
    padding: 25px;
}

@media screen and (min-width: 20px) and (max-width:768px) {
    .colormenu {
        height: 50px;
    }

    .formulario {
        padding: 0px;
    }

    .footer {
        padding: 0px;
        padding-bottom: 15px;
    }

    .datacontacto {
        font-size: 0.9rem;
    }

    .lista {
        padding: 0px;
    }
}


/* FIN DEL CSS HOME*/
/* FIN DEL CSS HOME*/
/* FIN DEL CSS HOME*/
/* FIN DEL CSS HOME*/
/* FIN DEL CSS HOME*/
/* FIN DEL CSS HOME*/
/* FIN DEL CSS HOME*/
/* FIN DEL CSS HOME*/


/*CSS PORTAFOLIO*/
/*CSS PORTAFOLIO*/
/*CSS PORTAFOLIO*/
/*CSS PORTAFOLIO*/
/*CSS PORTAFOLIO*/
/*CSS PORTAFOLIO*/
/*CSS PORTAFOLIO*/


/*MENU TABS PORTAFOLIO*/

.menuportafolio {
    padding-bottom: 45px;
    display: flex;
    justify-content: center;
}

.portafolioser {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    background-color: #F9CDCF;
    padding: 20px;
    height: 100%;
    border-right: #999999 solid;
}

.portafolioser:hover {
    background-color: #F8C1C3;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
}

.borde {
    border-radius: 0px 0px 0px 10px;
}

.borde1 {
    border-radius: 0px 0px 10px 0px;
}



@media screen and (min-width: 20px) and (max-width:768px) {
    .menuportafolio {
        padding-bottom: 25px;

    }

    .portafolioser {
        font-size: 1.2rem;
        padding: 8px 15px 8px 15px;
        border-radius: 10px;
        border: #999999 solid;
        display: flex;
        justify-content: center;
    }

    .margenbotonporta {
        margin: 5px;
    }

}

.cajaCom {
    padding: 65px;
}



/*CODIGO DEL ROW DEL PORTAFOLIO MARKETING DIGITAL*/

.nueva {
    display: flex;
    overflow: hidden;
    height: 670px;

}

.cajaporta {
    height: 670px;
}

.imgPreview {
    height: 150px;
    margin: 5px;
}

.papaImgMark {
    display: flex;
    justify-content: center;
    height: 45%;
}
.tituloMark {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 1.7rem;
    font-weight: bold;
    padding-top: 10px;
}
.parrafoMark {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-align: left;
}

@media screen and (min-width: 20px) and (max-width:768px) {
    .papaImgMark {
        height: 30%;
    }

    .imgPreview {
        height: 250px;
    }

    .cajaporta {
        height: 300px;
        margin-bottom: 35px;
    }
    .nueva{
        height: 600px;
    }
}

/*CODIGO DEL ROW DEL PORTAFOLIO COMUNICACION VISUAL*/

.nueva2 {
    display: flex;
    overflow: hidden;
    height: 467px;
}

.cajaporta2 {
    height: 570px;
}

.imgPreviewCOM {
    height: 150px;
    margin: 5px;
   
}

.papaImgCOM {
    display: flex;
    justify-content: center;
    height: 75%;
    padding-top: 20px;
}
.tituloCom{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 1.7rem;
    font-weight: bold;
    padding-top: 10px;
}
.parrafoCom {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-align: left;
}


@media screen and (min-width: 20px) and (max-width:768px) {
    .papaImgCOM {
        height: 35%;
        padding: 0px;
    }

    .imgPreviewCOM {
        height: 150px;
    }

    .cajaporta2 {
        height: 250px;
        margin-bottom: 35px;
    }
    .nueva2 {
        height: 340px;
    }
    .cajaCom {
        padding: 0px;
    }
}

/*CODIGO DEL ROW DEL PORTAFOLIO PRODUCCION MULTIMEDIA*/

.nueva3 {
    display: flex;
    overflow: hidden;
    height: 670px;

}

.cajaporta3 {
    height: 670px;
}

.imgPreviewMUL {
    height: 150px;
    margin: 5px;
}

.papaImgMUL {
    display: flex;
    justify-content: center;
    height: 45%;
}
.tituloMul{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 1.7rem;
    font-weight: bold;
    padding-top: 10px;
}
.parrafoMul{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-align: left;
}

@media screen and (min-width: 20px) and (max-width:768px) {
    .papaImgMUL {
        height: 28%;
    }

    .imgPreview {
        height: 250px;
    }

    .cajaporta3 {
        height: 300px;
        margin-bottom: 35px;
    }
    .nueva3 {
        height: 500px;
    }
}

/*FIN CSS PORTAFOLIO*/
/*FIN CSS PORTAFOLIO*/
/*FIN CSS PORTAFOLIO*/
/*FIN CSS PORTAFOLIO*/
/*FIN CSS PORTAFOLIO*/
/*FIN CSS PORTAFOLIO*/
/*FIN CSS PORTAFOLIO*/

/*PRIMER ROW BIOGRAFIA*/
.cajaquiensoy {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 25px;
}

.quiensoy {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 45px;
}

.quiensoyparrafo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    text-align: left;

}
.videomiche {
    width: 50%;
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 20px) and (max-width:768px) {
   .quiensoy {
       font-size: 2.3rem;
   }
   .quiensoyparrafo {
       font-size: 1rem;
   }
}


/*ROW HOBBIES HABILIDADES*/
.cajahobbies {
    background-color: #6062AA;
    padding: 35px
}

.cajahabilidades {
    background-color: #A2629D;
    padding: 10px;
}

.titulohobbies {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2.2rem;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.parrafohobbies {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 0px;
    
}
.parrafohobbies li {
    list-style: circle;
    display: flex;
}
@media screen and (min-width: 20px) and (max-width:768px) {
    .cajahobbies {
        padding-top: 30px;
    }
    .titulohobbies {
        font-size: 1.8rem;
    }
    .parrafohobbies {
        font-size: 1rem;

    }
 }



/*ROW HABILIDADES TECNICAS*/

.cajatecnica {
    background-color: white;
}

.espaciohab {
    padding-left: 15px;
    
}

.titulotecnicas {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 25px;
}

.Htecnicas {
    width: 10%;
}

.listatec {
    display: flex;
    align-items: center;
}

.espaciotec {
    padding-left: 15px;
}

.textotec {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-align: left;
}

@media screen and (min-width: 20px) and (max-width:768px) {
    .Htecnicas {
        width: 15%;
    }
}

/*ROW ACORDEON*/
.caja-acordeon {
    padding: 55px;
}

.tituloacordeon {
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 1.7rem !important;
    font-weight: bold !important;
    padding-top: 25px !important;
    background-color: #8BBCD9 !important;
}

.tituloacordeon:hover {
    color: white !important;
}

.parrafoacordeon {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    display: flex;
    text-align: left;
    padding: 15px;
}

.papaimgseparacion {
    display: flex;
    justify-content: center;
}

.imgseparacion {
    width: 75%;
}

@media screen and (min-width: 20px) and (max-width:768px) {
    .caja-acordeon {
        padding: 20px;
    }
    .tituloacordeon {
        font-size: 1.2rem !important;
    }
    .parrafoacordeon {
        font-size: 0.9rem;
    }
}

/*FIN CSS BIOGRAFIA*/
/*FIN CSS BIOGRAFIA*/
/*FIN CSS BIOGRAFIA*/
/*FIN CSS BIOGRAFIA*/
/*FIN CSS BIOGRAFIA*/
/*FIN CSS BIOGRAFIA*/
/*FIN CSS BIOGRAFIA*/



.titulocontacto {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.5rem;
    font-weight: bold;
    padding-top: 85px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.cajaCON {
    padding: 150px;
}

.colorformcon {
    border: 1px rgb(0, 0, 0) solid;
    background-color: white;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    background: none;
}

.alineacionCon {
    display: flex;
    justify-content: end;
}


.colorformcon::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    background-color: white;
}

.formulario {
    padding: 25px;
}

.Conparrafo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    
}
.Contacparrafo {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 20px) and (max-width:768px) {
   .titulocontacto {
       font-size: 3rem;
   }
   .cajaCON {
       padding: 0px;
   }
   .Conparrafo {
       font-size: 1.4rem;
       padding: 15px;
   }
 }
