* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}


/* INICIO DEL CSS HOME*/
/* INICIO DEL CSS HOME*/
/* INICIO DEL CSS HOME*/
/* INICIO DEL CSS HOME*/
/* INICIO DEL CSS HOME*/



/* CSS COL-3 MENU*/
.logo {
    width: 100%;
    padding-top: 25px;
}
.posicion{
    position:fixed;
    background-color: #E8F2F7;
}

.colormenu {
    height: 100vh;
    background-color: #E8F2F7
}

.menu {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    font-size: 1.5rem;
    display: flex;
    justify-content: start;
    font-weight: bold;
    color: black;
}
.redes{
    text-decoration: none;
    width: 20%;
    padding-right: 35px;
    padding-top: 35px;
}
.lincencia {
    width: 25%;
    padding-top: 45px;
    
}
.licenciacen {
    display: flex;
    justify-content: center;
}
.politicas {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 12px;
    text-align: center;
}
.cc {
    padding-top: 45px;
}
@media screen and (min-width: 20px) and (max-width:768px){
    .posicion {
        position:inherit;
        height: 45px;
    }
    .navbar-collapse {
        background-color: #E8F2F7;
        padding: 45px;
        display: flex;
        justify-content: center;
    }
    .cc {
        padding-top: 0px;
    }
    .redes {
        width: 20%;
        padding-right: 10px;
    }
}


/* CSS COL-9 HEADER*/

.cajacontenido {
    background-image: url(../images/fondo-logo.png);
}
.cajaeslogan {
    display: flex;
    align-items: center;
    justify-content: center;
}
.eslogan {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.5rem;
    font-weight: bold;
    padding-left: 25px;
    text-align: center;
}
.fotomiche {
    width: 100%;
}




/* CSS COL-9 FILOSOFIAS*/

.filosofia {
    background-color: #A2629D;  
}
.filosofia2 {
    padding-bottom: 45px;
}
.iconosfilo {
    width: 100%;
    padding: 15px 55px 0px 55px;
}
.filosofias {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.descripcionfilo {
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;   
}
.centrar {
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 20px) and (max-width:768px){
    .iconofilocal {
        width: 220px;
    }
    .filosofias {
        font-size: 1.6rem;
    }
}

/* CSS COL-9 SERVICIOS*/

.quehacemos {
    background-color: white;
    padding: 45px;
}
.tituloservicios {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 45px;

}
.servicios {
    width: 100%;
}



/* CSS COL-9 FOOTER*/

.footer {
    background-color: #6062AA;
    padding: 25px;
}
.iconosfooter {
    width: 8%;
}

.lista {
    list-style: none;
    padding-top: 15px;
   
}
.contacto {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.8rem;
    font-weight: bold;
    color: white;
    padding-top: 45px;
    padding-left: 45px;
}
.telefono {
    display: flex;
    align-items: center;
}
.correo {
    width: 8%;
}
.datacontacto {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.3rem;
}
.botonfooter {
    background-color: #8BBCD9;
    height: 45px;
    width: 120px;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.alineacion {
    display: flex;
    justify-content: end;
}

.colorform {
    border: 1px white solid;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    background: none;
}
::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: white;
} 
.formulario {
    padding: 25px;
}
@media screen and (min-width: 20px) and (max-width:768px){
    .colormenu {
        height: 50px;
    }
    .formulario {
        padding: 0px;
    }
    .footer {
        padding: 0px;
        padding-bottom: 15px;
    }
    .datacontacto {
        font-size: 1rem;
    }
}


/* FIN DEL CSS HOME*/
/* FIN DEL CSS HOME*/
/* FIN DEL CSS HOME*/
/* FIN DEL CSS HOME*/
/* FIN DEL CSS HOME*/
/* FIN DEL CSS HOME*/
/* FIN DEL CSS HOME*/
/* FIN DEL CSS HOME*/
